<section class="containerLogin">
  <div class="login">
    <form method="post">
        <input type="text" name="login" value="" placeholder="Email" class="form-control" ng-model="userLogin.email" required>
        <input type="password" name="password" value="" placeholder="Password" class="form-control" ng-model="userLogin.password" required><br><br>
        <button class="btn btn-success" ng-click='login()'>Login</button>
        <div class="registerLink"><a href="/#/register"><span>Create New Account</span></a></div>
        <span class="advice">or</span>
    </form>

    <div>{{response}}</div>
</div>
</section>