<div class="panelPosition">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{listing.title}}</h3>
  </div>
  <div class="panel-body">
    <span><b>Date Available: </b>{{listing.dateAvailable | date: 'dd/MM/yyyy'}}</span>
    <span class="price"><b>Price: </b>£{{listing.price}} {{listing.paymentPeriod}}</span><br><br>
    <span><b>Address: </b>{{listing.address}}</span><br><br>
    <span><b>County: </b>{{listing.county}}</span><br><br>
    <span><b>City: </b>{{listing.city}}</span><br><br>
    <span><b>Post Code: </b>{{listing.postCode}}</span><br><br>
    <span><b>Property Type: </b>{{listing.propertyType}}</span><br><br>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <span>{{listing.description}}</span><br>
      </div>
    </div>
    <a href="/#/myads"><button name="myAdDetails" class="btn btn-info">Go Back</button></a>
  </div>
</div>
</div>