<h1 class="profileTitle">Welcome To Your Account</h1><br><br>
<div class="profileDetails">
	<div class="well well-sm">
		<span>Name: {{userData.firstName}}</span><br>
		<span>Surname: {{userData.secondName}}</span><br>
		<span>Email: {{userData.email}}</span><br>
	</div>
<div>

<div class="list-group">
  <button type="button" class="list-group-item" ng-click="postAd()">Post Ad</button>
  <button type="button" class="list-group-item" ng-click="myAds()">My Ads</button>
  <button type="button" class="list-group-item" ng-click="listings()">Back To Listings</button>
</div>