body, html {
  margin-right: 10%;
  margin-left: 10%;
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
body{
	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  /*background: #0ca3d2;*/
}
textarea{
  max-width: 300px;
}

.note{
  float: left;
  font-family: 'Catamaran', sans-serif;
  margin-top: 20px;
  margin-left: 32%;
}

.listingsResponse{
  float: left;
  margin-top: 150px;
  position: absolute;
}

.registerTitle{
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: green;
}

.profileTitle{
  font-family: 'Poiret One', cursive;
  color: green;
}

.searchField{
  width: 300px;
  float: left;
}

button[name="myAdDetails"]{
  float: right;
}

button[name="searchButton"]{
  float: right;
}

.gratzBtn{
  margin-left: 30%;
  margin-top: 100px;
  position: absolute;
}

button[name="gratzButton"]{
  width: 200px;
}

.advice{
  float: right;
  margin-right: 26px;
  margin-top: 5px;
}

.logoutLink{
  float: left;
}

.profileForm{
  float: left;
  max-width: 300px;
}

.searchPanel{
  /*margin-right: 300px;*/
  width: 380px;
  float: left;
  position: absolute;
  overflow: hidden;
  margin-top: 105px;
}

.profileDetails{
  max-width: 300px;
}

.adForm{
  float: right;
  margin-right: 30%;
  /*margin-right: auto;
  margin-left: auto;*/
  max-width: 300px;
}

.inputs{
  width: 300px;
}

.dropdown1{
  width: 145px;
  float: left;
  margin-bottom: 5px;
}

.dropdown2{
  width: 145px;
  float: right;
  margin-bottom: 5px;
}

.inputs input{
  margin-bottom: 5px;
}

.adDetailBack{
  float: right;
  overflow: hidden;
}

.adDetailBtns{
  float: left;
}

.pageTitle{
	float: left;
  color: green;
  font-family: 'Poiret One', cursive;
	margin-bottom: 120px;
}

table{
	float: left;
	width: 100%;
	border-top: solid #ddd;
	border-left: solid #ddd;
	border-width: 1px;
	margin-top: 2%;
}

tr, td{
	border: none;
}

.panelPosition{
  font-size: 1.1em;
  font-family: 'Catamaran', sans-serif;
  margin-top: 5%;
  color: 004882;
}

.listings{
  font-size: 1.1em;
  font-family: 'Catamaran', sans-serif;
  width: 100%;
  float: left;
  margin-top: 1%;
  color: 004882;
}

.listings h3:hover{
  cursor: pointer;
  color: 008CFF;
}

.tableDataDetail{
  margin-top: 1%;
}

.title{
	text-align: center;
}

.panel-title{
  text-align: center;
}

.price{
	width: 15%;
  float: right;
}

/*--- Login Panel ----*/

.registerResponse{
  text-align: center;
  /*margin-bottom: 10px;*/
}

.registerLink{
  float: right;
  margin-top: 5px;
}

.containerLogin{
  float: right;
  margin-top: 105px;
}

input[name="login"]{
  width: 130px;
  float: left;
  margin-right: 3px;
}

input[name="password"]{
  width: 130px;
  float: right;
}

.inputLabel{
  float: left;
}

.loginStatus{
  float: right;
  margin-top: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

.registerForm{
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  margin-top: 70px;
}

.gratz{
  font-family: 'Poiret One', cursive;
  color: green;
  text-align: center;
}

.profileLink{
  float: right;
}

.tableDetail{
  border: none;
}